:root {
  --max-width: 1100px;

  --primary-main: #fa8c16;
  --primary-darkest: #ad4e00;
  --primary-dark: #d46b08;
  --primary-light: #ffa940;
  --primary-lightest: #ffd591;

  --secondary-main: #3684d1;
  --secondary-darkest: #1b4c96;
  --secondary-dark: #2767b3;
  --secondary-light: #64aae3;
  --secondary-lightest: #b0e0fa;

  --grayscale-main: #161c24;
  --grayscale-darkest: #212b36;
  --grayscale-darker: #454f5b;
  --grayscale-dark: #637381;
  --grayscale-light: #919eab;
  --grayscale-lighter: #c4cdd5;
  --grayscale-lightest: #eff1f3;

  --white: #ffffff;

  --warning-main: #ffbf00;
  --warning-dark: #b77f00;
  --warning-light: #ffed99;

  --success-main: #59b72a;
  --success-dark: #1a6a0d;
  --success-light: #d3f7ab;

  --error-main: #d44638;
  --error-dark: #7a1122;
  --error-light: #fac9b0;

  --btn-weight: 400;
}

.theme1 {
  --primary-main: #f9da36;
  --primary-darkest: #fee76c;
  --primary-dark: #f3e496;
  --primary-light: #fff09e;
  --primary-lightest: #fff4b8;

  --secondary-main: #01b7bd;
  --secondary-darkest: #25787a;
  --secondary-dark: #00c1c7;
  --secondary-light: #00f2fa;
  --secondary-lightest: #4bf5fb;
}

.theme2 {
  --primary-main: #00746b;
  --primary-darkest: #00524b;
  --primary-dark: #00ccbb;
  --primary-light: #00f5e0;
  --primary-lightest: #adfff8;

  --secondary-main: #3684d1;
  --secondary-darkest: #1b4c96;
  --secondary-dark: #2767b3;
  --secondary-light: #64aae3;
  --secondary-lightest: #b0e0fa;
}

.theme3 {
  --secondary-main: #00746b;
  --secondary-darkest: #00524b;
  --secondary-dark: #00ccbb;
  --secondary-light: #00f5e0;
  --secondary-lightest: #adfff8;

  --primary-main: #3684d1;
  --primary-darkest: #1b4c96;
  --primary-dark: #2767b3;
  --primary-light: #64aae3;
  --primary-lightest: #b0e0fa;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); */

* {
  /* font-family: "Poppins", sans-serif; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.theme1 * {
  font-family: "Roboto", sans-serif !important;
}

.theme2 * {
  font-family: "Poppins", sans-serif !important;
}

.theme3 * {
  font-family: "Open Sans", sans-serif !important;
}

.material-icons-round {
  font-family: "Material Icons Round" !important;
}

.material-icons-outlined {
  font-family: "Material Icons Outlined" !important;
}

html,
body,
.root {
  max-width: 100vw;
  width: 100%;
  /* height: 99.8vh; */
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.5px;
}

#__next {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Buttons */

.btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 135%;
  text-transform: uppercase;
  font-weight: var(--btn-weight);
  border-radius: 5px !important;
}

.btn.fab > .material-icons-outlined {
  font-size: 14px !important;
}

.btn-sm {
  padding: 12px !important;
}

.btn-md {
  padding: 16px !important;
}

.btn-lg {
  padding: 19px !important;
}

.fab-sm {
  padding: 16px !important;
}

.fab-md {
  padding: 19px 20px !important;
}

.fab-lg {
  padding: 22px 24px !important;
}

.btn > img {
  margin: 0 5px;
  width: 15px;
  height: 15px;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary {
  background: var(--primary-main) !important;
  color: var(--white) !important;
  border: 1px solid var(--primary-main) !important;
}

.btn-primary:hover {
  background: var(--primary-dark) !important;
  box-shadow: 2px 4px 5px rgba(40, 44, 54, 0.3) !important;
  border: 1px solid var(--primary-dark) !important;
}

.btn-primary:active {
  background: var(--primary-darkest) !important;
  border: 1px solid var(--primary-darkest) !important;
  box-shadow: none !important;
}

.btn-primary.disabled {
  background: var(--grayscale-lighter) !important;
  border: 1px solid var(--grayscale-lighter) !important;
}

.btn-error {
  background: var(--error-main) !important;
  color: var(--white) !important;
  border: 1px solid var(--error-main) !important;
}

.btn-error:hover {
  background: linear-gradient(
      0deg,
      rgba(22, 28, 36, 0.08) 0%,
      rgba(22, 28, 36, 0.08) 100%
    ),
    #d44638 !important;
  box-shadow: 2px 4px 5px 0px rgba(40, 44, 54, 0.3);
  border: 1px solid
      linear-gradient(
        0deg,
        rgba(22, 28, 36, 0.08) 0%,
        rgba(22, 28, 36, 0.08) 100%
      ),
    #d44638 !important;
}

.btn-error:active {
  border: 1px solid
      linear-gradient(
        0deg,
        rgba(22, 28, 36, 0.12) 0%,
        rgba(22, 28, 36, 0.12) 100%
      ),
    #d44638 !important;
  background: linear-gradient(
      0deg,
      rgba(22, 28, 36, 0.12) 0%,
      rgba(22, 28, 36, 0.12) 100%
    ),
    #d44638 !important;
  box-shadow: none !important;
}

.btn-error.disabled {
  background: var(--grayscale-lighter) !important;
  border: 1px solid var(--grayscale-lighter) !important;
}

.btn-danger {
  background: var(--secondary-main) !important;
  color: var(--white) !important;
  border: 1px solid var(--secondary-main) !important;
}

.btn-danger:hover {
  background: var(--secondary-dark) !important;
  box-shadow: 2px 4px 5px rgba(40, 44, 54, 0.3) !important;
  border: 1px solid var(--secondary-dark) !important;
}

.btn-danger:active {
  border: 1px solid var(--secondary-darkest) !important;
  background: var(--secondary-darkest) !important;
  box-shadow: none !important;
}

.btn-danger.disabled {
  background: var(--grayscale-lighter) !important;
  border: 1px solid var(--grayscale-lighter) !important;
}

.btn-outline-info {
  background: transparent !important;
  border: 1px solid var(--primary-dark) !important;
  color: var(--primary-dark) !important;
}

.btn-outline-info:hover {
  background: rgba(39, 103, 179, 0.1) !important;
  box-shadow: 2px 4px 5px rgba(40, 44, 54, 0.3) !important;
}

.btn-outline-info:active {
  background: rgba(39, 103, 179, 0.2) !important;
  box-shadow: none !important;
}

.btn-outline-info.disabled {
  background: transparent !important;
  color: var(--grayscale-lighter) !important;
  border: 1px solid var(--grayscale-lighter) !important;
}

.btn-link {
  color: var(--primary-dark) !important;
  text-decoration: none !important;
}

.btn-link:hover {
  background: rgba(39, 103, 179, 0.1) !important;
  box-shadow: 2px 4px 5px rgba(40, 44, 54, 0.3) !important;
}

.btn-link:active {
  background: rgba(39, 103, 179, 0.2) !important;
  box-shadow: none !important;
}

.btn-link.disabled {
  background: transparent !important;
  color: var(--grayscale-lighter) !important;
  border: none !important;
}

.fab.btn-link {
  color: var(--secondary-dark) !important;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(22, 28, 36, 0.3) !important;
}

.fab.btn-link:hover {
  background: rgba(39, 103, 179, 0.2) !important;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(22, 28, 36, 0.3) !important;
}

.fab.btn-link:active {
  background: rgba(39, 103, 179, 0.2) !important;
  /* box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(22, 28, 36, 0.3) !important; */
  box-shadow: none !important;
}

.fab.btn-link.disabled {
  background: transparent !important;
  color: var(--grayscale-lighter) !important;
  border: none !important;
}

/* Text */
p {
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.sub,
.caption,
.normal {
  color: #000;
}

/* title */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 135%;
}

.h1 {
  font-size: 60px;
}
.h2 {
  font-size: 52px;
  letter-spacing: 0.01em;
}
.h3 {
  font-size: 44px;
  letter-spacing: 0.015em;
}
.h4 {
  font-size: 36px;
  letter-spacing: 0.02em;
}
.h5 {
  font-size: 28px;
  letter-spacing: 0.02em;
}

/* subtitle */

.sub {
  font-weight: 500;
  line-height: 135%;
}

.sub-lg {
  font-size: 24px;
  letter-spacing: 0.015em;
}
.sub-md {
  font-size: 22px;
  letter-spacing: 0.02em;
}
.sub-sm {
  font-size: 20px;
  letter-spacing: 0.025em;
}

/* para */

.para {
  font-weight: 400;
  line-height: 140%;
}

.para-lg {
  font-size: 18px;
  letter-spacing: 0.03em;
}
.para-md {
  font-size: 16px;
  letter-spacing: 0.03em;
}
.para-sm {
  font-size: 14px;
  letter-spacing: 0.035em;
}

/* caption */

.caption {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
}

/* overline */

.overline {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Checkbox */

.checkboxContain {
  position: relative;
  cursor: pointer;
  width: 44px;
  height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxContain.disabled {
  cursor: not-allowed;
}

.checkbox {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}

.checkbox > input {
  position: absolute;
  opacity: 0;
  /* cursor: pointer; */
  display: none;
  height: 0;
  width: 0;
  outline: none;
  border: none;
}

.checkbox:hover {
  background: rgba(22, 28, 36, 0.08);
  border-radius: 25px;
}

.checkbox:active {
  background: rgba(22, 28, 36, 0.12);
  border-radius: 25px;
}

.checkbox:hover > .checkmark {
  border-color: var(--grayscale-darker) !important;
}

.checkbox:active > .checkmark {
  border-color: var(--grayscale-main) !important;
}

.checkbox > input:checked ~ .checkmark {
  background-color: var(--secondary-dark) !important;
}

.checkbox > .checkmark > .material-icons-round {
  display: none;
  position: absolute;
  font-size: 13px;
  color: var(--white);
}

.checkbox > input:checked ~ .checkbox {
  background: transparent !important;
}

.checkbox > input:checked ~ .checkbox:hover {
  background: rgba(22, 28, 36, 0.1);
  border-radius: 25px;
}

.checkbox > input:checked ~ .checkbox:active {
  background: rgba(22, 28, 36, 0.12);
  border-radius: 25px;
}

.checkbox > input:checked ~ .checkmark > .material-icons-round {
  display: block;
}

.checkmark {
  position: relative;
  z-index: 99;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #dadada;
}

.checkmark > .radioActive {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: none;
  background-color: var(--secondary-dark) !important;
}

.checkbox.radio > input:checked ~ .checkmark {
  background-color: transparent !important;
  border-color: var(--secondary-dark) !important;
}

.checkbox.radio > input:checked ~ .checkmark > .radioActive {
  display: block;
}

.checkbox.radio > .checkmark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark.disabled {
  border: 1px solid var(--grayscale-lighter);
  cursor: not-allowed;
}

.checkboxContain.disabled > .checkbox {
  cursor: not-allowed !important;
}

.checkbox.disabled:hover {
  background: transparent;
  border-radius: 25px;
}

.checkbox.disabled:active {
  background: transparent;
  border-radius: 25px;
}

.checkbox.disabled:hover > .checkmark {
  border-color: var(--grayscale-lighter) !important;
}

.checkbox.disabled:active > .checkmark {
  border-color: var(--grayscale-lighter) !important;
}

.checkboxContain.medium {
  width: 48px;
  height: 48px;
}

.checkboxContain.medium > .checkbox {
  width: 40px;
  height: 40px;
}

.checkboxContain.medium > .checkbox > .checkmark {
  width: 18px;
  height: 18px;
}

.checkboxContain.medium > .checkbox > .checkmark > .material-icons-round {
  font-size: 16px;
}

.checkboxContain.large {
  width: 52px;
  height: 52px;
}

.checkboxContain.large > .checkbox {
  width: 44px;
  height: 44px;
}

.checkboxContain.large > .checkbox > .checkmark {
  width: 21px;
  height: 21px;
}

.checkboxContain.large > .checkbox > .checkmark > .material-icons-round {
  font-size: 19px;
}

.checkboxContain.medium > .checkbox.radio > .checkmark {
  width: 20px;
  height: 20px;
}

.checkboxContain.medium > .checkbox.radio > .checkmark > .radioActive {
  width: 10px;
  height: 10px;
}

.checkboxContain.large > .checkbox.radio > .checkmark {
  width: 24px;
  height: 24px;
}

.checkboxContain.large > .checkbox.radio > .checkmark > .radioActive {
  width: 12px;
  height: 12px;
}
