// Input

.input-group {
  border: 1px solid var(--grayscale-dark);
  background-color: transparent;
  width: 100%;
  max-width: 218px;
  padding: 12px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;

  .input-group-text {
    border: none !important;
    background-color: transparent !important;
    padding: 0 8px !important;
    color: var(--grayscale-dark) !important;
    &.lead {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .material-icons-round {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .form-control {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 22px !important;
    // padding: 0 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 140% !important;
    padding: 0 8px !important;
    padding-left: 0 !important;
    z-index: 9;
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      opacity: 1 !important;
      transform: none !important;
      background-color: #fff !important;
      width: fit-content !important;
      height: fit-content !important;
      padding: 0 5px !important;
      top: -10px !important;
      font-size: 12px !important;
      left: 8px !important;
    }
    &.prefixLabel {
      ~ label {
        left: 43px !important;
      }
      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        opacity: 1 !important;
        transform: none !important;
        background-color: #fff !important;
        width: fit-content !important;
        height: fit-content !important;
        padding: 0 5px !important;
        top: -10px !important;
        font-size: 12px !important;
        left: 8px !important;
      }
    }
    &::placeholder {
      opacity: 0;
    }
  }

  label {
    color: var(--grayscale-dark) !important;
    height: 22px !important;
    border: none !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 140% !important;
    padding: 0 !important;
    position: absolute;
    left: 16px !important;
    z-index: 8;
  }

  &.textarea {
    label {
      left: 12px !important;
      top: 12px !important;
    }
    .form-control {
      height: 116px !important;
      resize: none;
    }
  }

  &:hover {
    border-color: var(--grayscale-darker) !important;
    label {
      color: var(--grayscale-darker) !important;
    }
    .input-group-text {
      color: var(--grayscale-darker) !important;
    }
  }

  &.filled {
    border-color: var(--grayscale-darkest) !important;
    label {
      color: var(--grayscale-darkest) !important;
    }
    &:hover {
      border-color: var(--grayscale-darker) !important;
      label {
        color: var(--grayscale-darker) !important;
      }
      .input-group-text {
        color: var(--grayscale-darker) !important;
      }
    }
    &.inputFocused,
    &.inputFocused:hover {
      border-color: var(--secondary-main) !important;
      label {
        color: var(--secondary-main) !important;
      }
    }
    .input-group-text {
      color: var(--grayscale-darkest) !important;
    }
    &.disabled {
      background: rgba(196, 205, 213, 0.1) !important;
      border: 1px solid var(--grayscale-light) !important;
      label {
        color: var(--grayscale-light) !important;
      }
      .input-group-text {
        color: var(--grayscale-light) !important;
      }
    }
  }

  &.inputFocused,
  &.inputFocused:hover {
    border-color: var(--secondary-main) !important;
    label {
      color: var(--secondary-main) !important;
    }
    .input-group-text {
      color: var(--grayscale-main) !important;
    }
  }

  &.disabled {
    background: rgba(196, 205, 213, 0.1) !important;
    border: 1px solid var(--grayscale-light) !important;
    label {
      color: var(--grayscale-light) !important;
    }
    .input-group-text {
      color: var(--grayscale-light) !important;
    }
  }

  &.success {
    border: 1px solid var(--success-main) !important;
    label {
      color: var(--success-main) !important;
    }
    &:hover {
      border-color: var(--grayscale-darker) !important;
      label {
        color: var(--grayscale-darker) !important;
      }
      .input-group-text {
        color: var(--grayscale-darker) !important;
      }
    }
    &.inputFocused,
    &.inputFocused:hover {
      border-color: var(--secondary-main) !important;
      label {
        color: var(--secondary-main) !important;
      }
    }
  }

  &.warning {
    border: 1px solid var(--warning-main) !important;
    label {
      color: var(--warning-main) !important;
    }
    &:hover {
      border-color: var(--grayscale-darker) !important;
      label {
        color: var(--grayscale-darker) !important;
      }
      .input-group-text {
        color: var(--grayscale-darker) !important;
      }
    }
    &.inputFocused,
    &.inputFocused:hover {
      border-color: var(--secondary-main) !important;
      label {
        color: var(--secondary-main) !important;
      }
    }
  }

  &.error {
    border: 1px solid var(--error-main) !important;
    label {
      color: var(--error-main) !important;
    }
    &:hover {
      border-color: var(--grayscale-darker) !important;
      label {
        color: var(--grayscale-darker) !important;
      }
      .input-group-text {
        color: var(--grayscale-darker) !important;
      }
    }
    &.inputFocused,
    &.inputFocused:hover {
      border-color: var(--secondary-main) !important;
      label {
        color: var(--secondary-main) !important;
      }
    }
  }

  &.large {
    padding: 20px;
    .form-control {
      &.prefixLabel {
        ~ label {
          left: 53px !important;
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
          opacity: 1 !important;
          transform: none !important;
          background-color: #fff !important;
          width: fit-content !important;
          height: fit-content !important;
          padding: 0 5px !important;
          top: -10px !important;
          font-size: 12px !important;
          left: 8px !important;
        }
      }
    }
  }

  &.medium {
    padding: 16px;
    .form-control {
      &.prefixLabel {
        ~ label {
          left: 47px !important;
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
          opacity: 1 !important;
          transform: none !important;
          background-color: #fff !important;
          width: fit-content !important;
          height: fit-content !important;
          padding: 0 5px !important;
          top: -10px !important;
          font-size: 12px !important;
          left: 8px !important;
        }
      }
    }
  }

  &.small {
    padding: 12px;
  }
}

.bottomLayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  .inputFeedback {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: capitalize;
    color: var(--grayscale-dark);
    .material-icons-outlined {
      font-size: 12px;
      padding-right: 6px;
    }
    &.success {
      color: var(--success-main);
    }
    &.warning {
      color: var(--warning-main);
    }
    &.error {
      color: var(--error-main);
    }
    &.disabled {
      color: var(--grayscale-light);
    }
  }
}

// Badges

.badges {
  width: fit-content;
  min-width: 6px;
  min-height: 6px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  &.loud {
    background-color: var(--grayscale-darker);
    color: var(--white);
    &.info {
      background-color: var(--secondary-main);
    }
    &.success {
      background-color: var(--success-main);
    }
    &.warning {
      background-color: var(--warning-main);
    }
    &.error {
      background-color: var(--error-main);
    }
  }
  &.subtle {
    background-color: var(--grayscale-lighter);
    color: var(--grayscale-darkest);
    &.info {
      background-color: var(--secondary-lightest);
      color: var(--secondary-darkest);
    }
    &.success {
      background-color: var(--success-light);
      color: var(--success-darkest);
    }
    &.warning {
      background-color: var(--warning-light);
      color: var(--warning-darkest);
    }
    &.error {
      background-color: var(--error-light);
      color: var(--error-darkest);
    }
  }
  &.single {
    padding: 1.5px 5.5px;
  }
  &.multi {
    padding: 0.5px 4px;
    border-radius: 10px;
  }
}

//Switch

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Snackbar
.snackbar {
  min-width: 350px;
  max-width: 350px;
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  position: relative;
  background-color: var(--grayscale-lighter);
  color: var(--grayscale-darkest);
  .material-icons-round {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 24px;
    // height: 24px;
    cursor: pointer;
  }
  p {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.49px;
    margin-bottom: 0;
    width: 60%;
    color: var(--grayscale-darkest);
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
    // width: 35%;
    margin-left: 20px;
    // padding: 12px;
    color: var(--grayscale-darkest);
    align-items: center;
    text-transform: uppercase;
  }
  &.info {
    background-color: var(--secondary-lightest);
    .para {
      color: var(--secondary-darkest);
    }
    button {
      color: var(--secondary-darkest);
    }
    .material-icons-round {
      color: var(--secondary-darkest);
    }
  }
  &.success {
    background-color: var(--success-light);
    .para {
      color: var(--success-dark);
    }
    button {
      color: var(--success-dark);
    }
    .material-icons-round {
      color: var(--success-dark);
    }
  }
  &.warning {
    background-color: var(--warning-light);
    .para {
      color: var(--warning-dark);
    }
    button {
      color: var(--warning-dark);
    }
    .material-icons-round {
      color: var(--warning-dark);
    }
  }
  &.error {
    background-color: var(--error-light);
    .para {
      color: var(--error-dark);
    }
    button {
      color: var(--error-dark);
    }
    .material-icons-round {
      color: var(--error-dark);
    }
  }
  &.noIcon {
    justify-content: space-between;
    button {
      margin-left: 0;
    }
    .para {
      width: 75%;
    }
  }
  &.noAction {
    .para {
      width: 100%;
      max-width: 290px;
    }
  }
  &.block {
    display: block !important;
    .para {
      width: 100%;
      max-width: 290px;
    }
    .actionBtn {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      button {
        padding-top: 12px;
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}

//Chips

.chips {
  width: fit-content;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  position: relative;
  border-radius: 4px;
  background-color: transparent;
  color: var(--grayscale-darkest);
  border: 1px solid transparent;
  .material-icons-round {
    // position: absolute;
    // right: 6px;
    // top: 2px;
    // margin-left: 8px;
    font-size: 12px;
    // height: 12px;
    cursor: pointer;
  }
  p {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.49px;
    margin-bottom: 0;
    // width: 60%;
    color: var(--grayscale-darkest);
  }
  &.leadingIcon {
    .material-icons-round {
      margin-right: 8px;
    }
  }
  &.trailingIcon {
    .material-icons-round {
      margin-left: 8px;
    }
  }
  &.sm {
    padding: 4px 8px;
  }
  &.md {
    padding: 8px;
  }
  &.lg {
    padding: 12px 8px;
  }
  &.outline {
    border: 1px solid var(--grayscale-dark, #637381);
  }
  &.active {
    background: var(--secondary-lightest, #b0e0fa);
    .para {
      color: var(--secondary-darkest, #1b4c96);
    }
    .material-icons-round {
      color: var(--secondary-darkest, #1b4c96);
    }
    &.outline {
      border: 1px solid var(--secondary-darkest, #1b4c96);
    }
  }
  &:hover {
    background: rgba(22, 28, 36, 0.08);
    .para {
      color: var(--grayscale-main, #161c24);
    }
    .material-icons-round {
      color: var(--grayscale-main, #161c24);
    }
    &.outline {
      border: 1px solid var(--grayscale-darker, #454f5b);
    }
    &.active {
      background: linear-gradient(
          0deg,
          rgba(22, 28, 36, 0.08) 0%,
          rgba(22, 28, 36, 0.08) 100%
        ),
        #b0e0fa;
      &.outline {
        border: 1px solid var(--secondary-darkest, #1b4c96);
      }
      .para {
        color: var(--secondary-darkest, #1b4c96);
      }
      .material-icons-round {
        color: var(--secondary-darkest, #1b4c96);
      }
    }
  }
  &.dragged {
    background: rgba(22, 28, 36, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(22, 28, 36, 0.3),
      0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    .para {
      color: var(--grayscale-main, #161c24);
    }
    .material-icons-round {
      color: var(--grayscale-main, #161c24);
    }
    &.outline {
      border: 1px solid var(--grayscale-darker, #454f5b);
    }
    &.active {
      background: linear-gradient(
          0deg,
          rgba(22, 28, 36, 0.12) 0%,
          rgba(22, 28, 36, 0.12) 100%
        ),
        #b0e0fa;
      box-shadow: 0px 1px 3px 0px rgba(22, 28, 36, 0.3),
        0px 4px 8px 3px rgba(0, 0, 0, 0.15);
      .para {
        color: var(--secondary-darkest, #1b4c96);
      }
      .material-icons-round {
        color: var(--secondary-darkest, #1b4c96);
      }
      &.outline {
        border: 1px solid var(--secondary-darkest, #1b4c96);
      }
    }
  }
  &.disabled {
    background: transparent;
    cursor: not-allowed;
    .para {
      color: var(--grayscale-dark);
      cursor: not-allowed;
    }
    .material-icons-round {
      color: var(--grayscale-dark);
      cursor: not-allowed;
    }
    &.outline {
      border: 1px solid var(--grayscale-dark);
    }
    &.active {
      background: var(--grayscale-lightest);
      cursor: not-allowed;
      .para {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
      .material-icons-round {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
      &.outline {
        border: 1px solid var(--grayscale-dark);
      }
    }
  }
}

//Tabs

.tabs {
  width: fit-content;
  position: relative;
  border-radius: 4px;
  background-color: transparent;
  color: var(--grayscale-main);
  border-bottom: 1px solid transparent;
  padding: 0px 16px;
  cursor: pointer;
  // .activeContent
  .content {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .para {
      color: var(--grayscale-main);
      font-size: 14px;
      font-style: normal;
      letter-spacing: 0.49px;
      margin-bottom: 0;
    }
    .material-icons-outlined {
      font-size: 24px;
    }
  }
  .activeBorder {
    border: 2px solid var(--secondary-darkest);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // margin-top: 6px;
    width: 100%;
    min-width: 10px;
  }
  &.horizontal {
    .content {
      flex-direction: row;
    }
    &.leadingIcon {
      .material-icons-outlined {
        margin-right: 8px;
      }
    }
    &.trailingIcon {
      .material-icons-outlined {
        margin-left: 8px;
      }
    }
    &.noText {
      &.leadingIcon {
        .material-icons-outlined {
          margin-right: 0;
        }
      }
      &.trailingIcon {
        .material-icons-outlined {
          margin-left: 0;
        }
      }
    }
  }
  &.active {
    background: linear-gradient(
        0deg,
        rgba(176, 224, 250, 0.2) 0%,
        rgba(176, 224, 250, 0.2) 100%
      ),
      #fff;
    .content {
      padding: 10px 0 0 0;
      .para {
        color: var(--secondary-darkest, #1b4c96);
      }
      .material-icons-outlined {
        color: var(--secondary-darkest, #1b4c96);
      }
    }
    .activeBorder {
      margin-top: 6px;
    }
  }
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(22, 28, 36, 0.08) 0%,
        rgba(22, 28, 36, 0.08) 100%
      ),
      #fff;
  }
  &:active {
    background: linear-gradient(
        0deg,
        rgba(22, 28, 36, 0.12) 0%,
        rgba(22, 28, 36, 0.12) 100%
      ),
      #fff;
  }
  &.disabled {
    background: var(--grayscale-lightest);
    cursor: not-allowed;
    .content {
      .para {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
      .material-icons-outlined {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
    }
    .activeBorder {
      border-color: var(--grayscale-dark);
    }
  }
}

//Toggle

.toggle {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // border-radius: 4px;
  background-color: transparent;
  color: var(--grayscale-darkest);
  border: 1px solid transparent;
  cursor: pointer;
  .material-icons-round {
    font-size: 24px;
    cursor: pointer;
  }
  p {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.49px;
    margin-bottom: 0;
    // width: 60%;
    cursor: pointer;
    color: var(--grayscale-darkest);
  }
  &.leadingIcon {
    .material-icons-round {
      margin-right: 8px;
    }
  }
  &.trailingIcon {
    .material-icons-round {
      margin-left: 8px;
    }
  }
  &.sm {
    padding: 4px 8px;
    min-width: 80px;
  }
  &.md {
    padding: 8px;
    min-width: 88px;
  }
  &.lg {
    padding: 12px 8px;
    min-width: 112px;
  }
  &.start {
    border: 1px solid var(--grayscale-dark, #637381);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0.5px solid var(--grayscale-dark, #637381);
  }
  &.middle {
    border: 1px solid var(--grayscale-dark, #637381);
    border-right: 0.5px solid var(--grayscale-dark, #637381);
    border-left: 0.5px solid var(--grayscale-dark, #637381);
  }
  &.end {
    border: 1px solid var(--grayscale-dark, #637381);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0.5px solid var(--grayscale-dark, #637381);
  }
  &.active {
    background: var(--secondary-lightest, #b0e0fa);
    border: 1px solid var(--secondary-darkest, #1b4c96);
    .para {
      color: var(--secondary-darkest, #1b4c96);
    }
    .material-icons-round {
      color: var(--secondary-darkest, #1b4c96);
    }
    &.start {
      border: 1px solid var(--secondary-darkest, #1b4c96);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
    }
    &.middle {
      border: 1px solid var(--secondary-darkest, #1b4c96);
      border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
      border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
    }
    &.end {
      border: 1px solid var(--secondary-darkest, #1b4c96);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
    }
  }
  &:hover {
    border: 1px solid var(--grayscale-dark, #637381);
    background: rgba(22, 28, 36, 0.08);
    .para {
      color: var(--grayscale-main, #161c24);
    }
    .material-icons-round {
      color: var(--grayscale-main, #161c24);
    }
    &.start {
      border: 1px solid var(--grayscale-dark, #637381);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: 0.5px solid var(--grayscale-dark, #637381);
    }
    &.middle {
      border: 1px solid var(--grayscale-dark, #637381);
      border-right: 0.5px solid var(--grayscale-dark, #637381);
      border-left: 0.5px solid var(--grayscale-dark, #637381);
    }
    &.end {
      border: 1px solid var(--grayscale-dark, #637381);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0.5px solid var(--grayscale-dark, #637381);
    }
    &.active {
      border: 1px solid var(--secondary-darkest, #1b4c96);
      background: linear-gradient(
          0deg,
          rgba(22, 28, 36, 0.08) 0%,
          rgba(22, 28, 36, 0.08) 100%
        ),
        rgba(176, 224, 250, 0.75);
      .para {
        color: var(--secondary-darkest, #1b4c96);
      }
      .material-icons-round {
        color: var(--secondary-darkest, #1b4c96);
      }
      &.start {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
      &.middle {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
        border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
      &.end {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
    }
  }
  &:active {
    border: 1px solid var(--grayscale-gray-light, #637381);
    background: rgba(22, 28, 36, 0.12);
    .para {
      color: var(--grayscale-main, #161c24);
    }
    .material-icons-round {
      color: var(--grayscale-main, #161c24);
    }
    &.start {
      border: 1px solid var(--grayscale-gray-light, #637381);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: 0.5px solid var(--grayscale-gray-light, #637381);
    }
    &.middle {
      border: 1px solid var(--grayscale-gray-light, #637381);
      border-right: 0.5px solid var(--grayscale-gray-light, #637381);
      border-left: 0.5px solid var(--grayscale-gray-light, #637381);
    }
    &.end {
      border: 1px solid var(--grayscale-gray-light, #637381);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0.5px solid var(--grayscale-gray-light, #637381);
    }
    &.active {
      border: 1px solid var(--secondary-darkest, #1b4c96);
      background: linear-gradient(
          0deg,
          rgba(22, 28, 36, 0.12) 0%,
          rgba(22, 28, 36, 0.12) 100%
        ),
        rgba(176, 224, 250, 0.75);
      .para {
        color: var(--secondary-darkest, #1b4c96);
      }
      .material-icons-round {
        color: var(--secondary-darkest, #1b4c96);
      }
      &.start {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
      &.middle {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-right: 0.5px solid var(--secondary-darkest, #1b4c96);
        border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
      &.end {
        border: 1px solid var(--secondary-darkest, #1b4c96);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-left: 0.5px solid var(--secondary-darkest, #1b4c96);
      }
    }
  }
  &.disabled {
    background: transparent;
    cursor: not-allowed;
    border: 1px solid var(--grayscale-light, #919eab);
    .para {
      color: var(--grayscale-dark);
      cursor: not-allowed;
    }
    .material-icons-round {
      color: var(--grayscale-dark);
      cursor: not-allowed;
    }
    &.start {
      border: 1px solid var(--grayscale-light, #919eab);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-right: 0.5px solid var(--grayscale-light, #919eab);
    }
    &.middle {
      border: 1px solid var(--grayscale-light, #919eab);
      border-right: 0.5px solid var(--grayscale-light, #919eab);
      border-left: 0.5px solid var(--grayscale-light, #919eab);
    }
    &.end {
      border: 1px solid var(--grayscale-light, #919eab);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0.5px solid var(--grayscale-light, #919eab);
    }
    &.active {
      background: var(--grayscale-lightest);
      border: 1px solid var(--grayscale-light, #919eab);
      cursor: not-allowed;
      .para {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
      .material-icons-round {
        color: var(--grayscale-dark);
        cursor: not-allowed;
      }
      &.start {
        border: 1px solid var(--grayscale-light, #919eab);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-right: 0.5px solid var(--grayscale-light, #919eab);
      }
      &.middle {
        border: 1px solid var(--grayscale-light, #919eab);
        border-right: 0.5px solid var(--grayscale-light, #919eab);
        border-left: 0.5px solid var(--grayscale-light, #919eab);
      }
      &.end {
        border: 1px solid var(--grayscale-light, #919eab);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-left: 0.5px solid var(--grayscale-light, #919eab);
      }
    }
  }
}

// Dialog

.dialog {
  // min-width: 100%;
  width: 100%;
  max-width: 500px;
  min-height: 290px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(22, 28, 36, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  position: relative;
  &.sm {
    max-width: 500px;
  }
  &.md {
    max-width: 670px;
  }
  &.lg {
    max-width: 1000px;
  }
  .header {
    position: relative;
    width: 100%;
    min-height: 50px;
    &.divider {
      border-bottom: 1px solid var(--grayscale-lighter, #c4cdd5);
    }
    .content {
      padding: 12px 16px;
      width: 100%;
      .material-icons-round {
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 14px;
        cursor: pointer;
      }
      p {
        max-width: 70%;
        margin-bottom: 0;
      }
    }
  }
  .body {
    padding: 0 16px;
    min-height: 130px;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
  .footer {
    padding: 12px 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    &.divider {
      border-top: 1px solid var(--grayscale-lighter, #c4cdd5);
    }
    .content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 22px;
    }
  }
}

//Drawer

.drawer {
  // min-width: 100%;
  width: 100%;
  max-width: 500px;
  min-height: 290px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(22, 28, 36, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  position: relative;
  &.left {
    min-height: calc(100vh - 0px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: white;
  }
  &.right {
    min-height: calc(100vh - 0px);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: white;
  }
  &.bottom {
    max-width: 1440px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: white;
  }
  .header {
    position: relative;
    width: 100%;
    min-height: 50px;
    &.divider {
      border-bottom: 1px solid var(--grayscale-lighter, #c4cdd5);
    }
    .content {
      padding: 12px 16px;
      width: 100%;
      .material-icons-round {
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 14px;
        cursor: pointer;
      }
      p {
        max-width: 70%;
        margin-bottom: 0;
      }
    }
  }
  .body {
    padding: 0 16px;
    min-height: 130px;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
  .footer {
    padding: 12px 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    &.divider {
      border-top: 1px solid var(--grayscale-lighter, #c4cdd5);
    }
    .content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 22px;
    }
  }
}

// Banner

.banner {
  position: relative;
  width: 100%;
  .container {
    padding: 107px 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 520px;
    .box {
      display: flex;
      width: 100%;
      max-width: 670px;
      border-radius: 2px;
      padding: 32px 20px;
      flex-direction: column;
      gap: 24px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.85);
      .content {
        width: 100%;
        display: flex;
        align-items: center;
        button {
          &:first-child {
            margin-right: 16px;
          }
        }
      }
      .details {
        width: 100%;
        p.h2 {
          color: var(--secondary-main);
        }
        p.para-lg {
          color: var(--grayscale-darker);
        }
      }
    }
  }
  &.left,
  &.center,
  &.right {
    .container {
      padding: 107px 109px;
    }
  }
  &.left {
    .container {
      justify-content: flex-start;
      .box {
        align-items: flex-start;
        .content {
          justify-content: flex-start;
        }
        .details {
          p {
            text-align: start;
          }
        }
      }
    }
  }
  &.center {
    .container {
      justify-content: center;
      .box {
        align-items: center;
        .content {
          justify-content: center;
        }
        .details {
          p {
            text-align: center;
          }
        }
      }
    }
  }
  &.right {
    .container {
      justify-content: flex-end;
      .box {
        align-items: flex-end;
        .content {
          justify-content: flex-end;
        }
        .details {
          p {
            text-align: end;
          }
        }
      }
    }
  }
  .bgImg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0.8;
    img {
      height: 520px;
      width: 100%;
      // min-height: 500px;
    }
  }
  &.partial {
    .bgImg {
      opacity: 0.9;
    }
  }
  &.full {
    .bgImg {
      opacity: 0.2;
    }
    .box {
      background: transparent !important;
    }
  }
  // &.no {
  //   background: var(--secondary-lightest, #b0e0fa) !important;
  // }
  @media (max-width: 1000px) {
    .container {
      padding: 100px 40px !important;
    }
  }
  @media (max-width: 640px) {
    height: 100vh;
    .bgImg {
      height: 100vh;
      img {
        width: 100%;
        height: 100vh;
      }
    }
    .container {
      padding: 40px !important;
      height: 100vh;
    }
  }
  @media (max-width: 540px) {
    .container {
      padding: 40px 0 !important;
    }
  }
}

// Slider

.slickPrev {
  position: absolute;
  display: block !important;
  width: 27px;
  height: 22px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  left: 45px !important;
  top: -39px;
  right: auto;
  z-index: 9;
  &::before {
    content: "" !important;
  }
  span {
    color: var(--secondary-main);
    cursor: pointer;
  }
  &.disabled,
  &.slick-disabled {
    span {
      color: var(--grayscale-lightest);
      cursor: not-allowed;
    }
  }
}

.slickNext {
  position: absolute;
  display: block !important;
  width: 27px;
  height: 22px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  right: 45px !important;
  top: -39px;
  left: auto;
  z-index: 9;
  &::before {
    content: "" !important;
  }
  span {
    color: var(--secondary-main);
    cursor: pointer;
  }
  &.disabled,
  &.slick-disabled {
    span {
      color: var(--grayscale-lightest);
      cursor: not-allowed;
    }
  }
}

.slick-dots {
  bottom: 20px !important;
  li {
    button {
      &::before {
        font-size: 13px !important;
      }
      &:hover {
        &::before {
          color: var(--secondary-main) !important;
          opacity: 1 !important;
        }
      }
    }
    &.slick-active {
      button {
        &::before {
          color: var(--secondary-main) !important;
          opacity: 1 !important;
        }
      }
    }
  }
}

// Navbar

.navbar {
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 0;
  .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
    .logo {
      .imgLink {
        a,
        img {
          width: 90%;
          max-width: 300px;
          max-height: 50px;
          cursor: pointer;
        }
      }
      .btn,
      .onlyMobile {
        display: none;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn-link {
        margin-right: 8px;
        text-transform: capitalize;
      }
      a {
        text-decoration: none !important;
      }
      .active {
        .btn-link {
          font-weight: 700;
        }
      }
      .btn-primary {
        margin-left: 54px;
      }
    }
  }
  @keyframes nav {
    from {
      left: -740px;
    }
    to {
      left: 0;
    }
  }
  .mobileMenu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 82px;
    left: -740px;
    max-width: 740px;
    width: 100%;
    background-color: white;
    height: calc(100vh - 82px);
    animation: nav 0.5s ease-in 0s 1 forwards;
    padding: 20px;
    .btn-link {
      margin-right: 8px;
    }
    a {
      text-decoration: none !important;
    }
    .active {
      .btn-link {
        font-weight: 700;
      }
    }
  }
  @media (max-width: 740px) {
    .container {
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .btn,
        .onlyMobile {
          display: flex !important;
        }
        .imgLink {
          width: fit-content;
          gap: 8px;
          display: flex;
          align-items: center;
          span {
            font-size: 24px !important;
            cursor: pointer;
          }
        }
      }
      .menu {
        display: none;
      }
    }
  }
}

// About

.about {
  width: 100%;
  padding: 60px 100px;
  background-color: var(--white);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    .details {
      p.h4 {
        color: var(--secondary-main);
      }
      p.para-md {
        margin-bottom: 24px;
        color: var(--grayscale-darker);
      }
    }
    .imgBox {
      img {
        width: 100%;
        margin-bottom: 11px;
      }
      .caption {
        width: 100%;
        text-align: center;
      }
    }
  }
  @media (max-width: 992px) {
    padding: 40px;
    .container {
      max-width: 95%;
    }
  }
  @media (max-width: 770px) {
    .container {
      flex-direction: column;
      .left {
        width: 100% !important;
      }
      .right {
        width: 100% !important;
      }
      .imgBox {
        .caption {
          text-align: start;
        }
      }
    }
  }
  @media (max-width: 520px) {
    padding: 20px;
    .container {
      max-width: 95%;
      padding: 0;
    }
  }
}

// Contact

.contact {
  width: 100%;
  padding: 60px 100px;
  background-color: var(--white);
  .container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      max-width: 480px;
      p.h4 {
        color: var(--secondary-main);
      }
      p.para-md {
        margin-bottom: 24px;
        color: var(--grayscale-darker);
      }
      .data {
        display: block;
        text-decoration: none !important;
        p {
          cursor: pointer;
          &.para-lg {
            display: flex;
            align-items: center;
            color: var(--secondary-main);
            margin-bottom: 12px;
            span {
              margin-right: 8px;
            }
          }
          &.para-md {
            color: var(--grayscale-darker);
            margin-bottom: 0;
          }
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      max-width: 440px;
      width: 100%;
      p.para-md {
        color: var(--secondary-main);
      }
      .input-group {
        width: 100%;
        max-width: 440px;
      }
    }
    .left {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  @media (max-width: 992px) {
    padding: 40px;
    .container {
      max-width: 95%;
    }
  }
  @media (max-width: 770px) {
    .container {
      flex-direction: column;
      gap: 20px;
      .left {
        width: 100% !important;
        .details {
          .h4 {
            margin-bottom: 0;
          }
          .para-md {
            margin-bottom: 16px;
          }
        }
      }
      .right {
        width: 100% !important;
        align-items: flex-start;
      }
    }
  }
  @media (max-width: 520px) {
    padding: 20px;
    .container {
      max-width: 95%;
      padding: 0;
    }
  }
}

//Titlecard + Cards

.titleCard {
  width: 100%;
  padding: 60px 100px;
  background-color: var(--white);
  .container {
    p {
      margin-bottom: 0;
      &.h4 {
        color: var(--secondary-main);
        margin-bottom: 8px;
      }
      &.para-md {
        color: var(--grayscale-main);
      }
    }
    .slick-slider {
      margin-top: 24px;
    }
    .slick-slide {
      display: flex !important;
      align-items: center;
      justify-content: center;
      div {
        &:nth-child(1) {
          display: flex !important;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .slick-prev {
      left: -45px !important;
    }
    .slick-next {
      right: -45px !important;
    }
    .slick-dots {
      bottom: -20px !important;
    }
    .testimonialCard {
      display: flex;
      max-width: 380px;
      width: 95%;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      height: 420px;
      background: transparent;
      box-shadow: 0px 4px 15px 0px rgba(22, 28, 36, 0.2);
      margin: 20px 0;
      .details {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start !important;
        order: 1;
        img {
          width: 100px;
          height: 100px;
        }
        .info {
          flex-direction: column;
          align-items: flex-start;
          margin-left: 10px;
          p {
            &.para-md {
              color: var(--grayscale-darker);
              margin-bottom: 0;
            }
          }
        }
      }
      p.para-lg {
        color: var(--grayscale-darker);
        order: 2;
      }
      &.circle {
        .details {
          img {
            border-radius: 50%;
          }
        }
      }
      &.bottom {
        .details {
          order: 2;
        }
        p.para-lg {
          order: 1;
        }
      }
    }
    .imgGallery {
      display: flex;
      max-width: 380px;
      width: 95%;
      // padding: 48px;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      background: #fff;
      box-shadow: 0px 4px 15px 0px rgba(22, 28, 36, 0.2);
      margin: 20px 0;
      img {
        width: 100%;
        // height: 250px;
        // margin-bottom: 20px;
      }
    }
    .card {
      display: flex;
      max-width: 380px;
      width: 95%;
      // padding: 48px;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      // gap: 20px;
      height: 600px;
      background: #fff;
      box-shadow: 0px 4px 15px 0px rgba(22, 28, 36, 0.2);
      margin: 20px 0;
      img {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
      }
      p {
        padding: 0 28px;
        margin-bottom: 12px;
        &.para-sm {
          color: var(--grayscale-darker);
        }
        &.sub-md {
          color: var(--secondary-main);
        }
        &.para-lg {
          color: var(--secondary-main);
        }
      }
      .btn {
        margin: 0 28px 28px;
      }
    }
    .feature {
      width: 100%;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      .shrink,
      .normal {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        min-width: 360px;
        margin-top: 32px;
        gap: 16px;
        .head {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          max-width: 278px;
          img {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            margin-bottom: 12px;
          }
          p {
            margin-bottom: 0;
            color: var(--secondary-main);
            // text-align: center;
          }
        }
        p.para-md {
          color: var(--grayscale-darker);
          text-align: center;
          margin-bottom: 0;
          max-width: 278px;
        }
      }
      &.small {
        .shrink,
        .normal {
          min-width: 278px;
        }
      }
      .normal {
        .head {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          img {
            margin-bottom: 0;
            margin-right: 12px;
          }
        }
        p.para-md {
          text-align: start;
          margin-bottom: 0;
        }
      }
    }
    .team {
      width: 100%;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      .shrink {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 301px;
        margin-top: 32px;
        gap: 12px;
        img {
          width: 230px;
          height: 230px;
          border-radius: 50%;
        }
        .detail {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          max-width: 301px;
          justify-content: center;
          p {
            text-align: center;
            &.sub-sm {
              color: var(--grayscale-main);
            }
            &.para-md {
              color: var(--grayscale-dark);
            }
            &.para-sm {
              color: var(--grayscale-main);
            }
          }
        }
        &.lower {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      &.line {
        .shrink {
          max-width: 578px;
          flex-direction: row;
          &.lower {
            max-width: 274px;
            img {
              width: 65px;
              height: 65px;
            }
            .detail {
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding: 40px;
    .container {
      max-width: 95%;
    }
  }
  @media (max-width: 520px) {
    padding: 20px;
    .container {
      max-width: 95%;
      padding: 0;
      .team {
        justify-content: flex-start;
        &.grid {
          justify-content: center;
        }
      }
      .feature {
        .shrink,
        .normal {
          min-width: auto;
          .head,
          p.para-md {
            max-width: 100%;
          }
        }
      }
    }
  }
}

//Footer

.footer {
  width: 100%;
  background-color: var(--white);
  .container {
    display: flex;
    padding: 28px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1224px;
    gap: 12px;
    p.para-md {
      color: var(--grayscale-darker);
    }
    .companyName {
      width: 100%;
      display: flex;
      align-items: baseline;
      justify-content: center;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    .insideFooter {
      display: flex;
      // height: 112px;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
      .links {
        display: flex;
        align-items: center;
        gap: 36px;
      }
      .sm {
        display: flex;
        align-items: center;
        gap: 24px;
      }
      .left {
        display: flex;
        align-items: center;
        gap: 36px;
        width: 70%;
      }
      .right {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
    .data {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .links,
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        max-width: 250px;
        .para-lg {
          color: var(--grayscale-main);
        }
        .para-sm {
          color: var(--grayscale-darker);
        }
        .sm {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding: 40px;
    .container {
      max-width: 95%;
      padding: 0;
    }
  }
  @media (max-width: 770px) {
    .container {
      .insideFooter {
        flex-direction: column;
        position: relative;
        .links {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          width: 100%;
        }
        .sm {
          gap: 12px;
        }
        p.para-md {
          text-align: center;
          width: 100%;
        }
        .left {
          width: 100% !important;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .logo {
            width: 100%;
          }
        }
        .right {
          width: 100% !important;
          align-items: flex-start;
          .sm {
            width: 100%;
            justify-content: center;
          }
        }
      }
      .data {
        flex-direction: column;
        gap: 28px;
        .info {
          order: 1;
        }
        .links {
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 4;
          }
          &:last-child {
            order: 2;
          }
        }
      }
    }
  }
  @media (max-width: 520px) {
    padding: 20px;
    .container {
      max-width: 95%;
      padding: 0;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 95% !important;
  }
}

//Search

.search {
  display: flex;
  flex-direction: column;
  position: relative;
  .input-group {
    .form-control {
      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        display: none;
      }
      &.prefixLabel {
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
          display: none;
        }
      }
    }
  }
  .bottomLayer {
    display: none;
  }
  .dropdown {
    max-width: 218px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--grayscale-lighter);
    position: absolute;
    top: auto;
    z-index: 99;
    max-height: 250px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .dropdownItem {
      display: flex;
      padding: 12px 16px;
      align-items: flex-start;
      flex-direction: column;
      border-bottom: 1px solid var(--grayscale-lighter);
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  padding-top: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 48px;
  line-height: 54px;
  color: #161c24;
}

.appointment {
  z-index: 100004;
  background-color: rgba(0, 0, 0, 0.7) !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 18px !important;
    padding-bottom: 24px !important;
    border-radius: 10px;
    position: relative;
    .h4 {
      color: black;
      // margin-bottom: 16px;
      width: 100%;
      text-align: left;
      .material-icons-outlined {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
      }
    }
    form {
      gap: 24px;
      width: 100%;
      max-width: 440px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .input-group {
        width: 100%;
        max-width: 440px;
      }
    }
  }
}

.MuiPickersModal-dialogRootWider {
  min-width: 330px !important;
}

.MuiDialog-root {
  z-index: 999999 !important;
}
.MuiFormControl-root {
  width: 100%;
  .MuiFormLabel-root,
  input {
    color: var(--grayscale-dark) !important;
    // height: 22px !important;
    border: none !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 70% !important;
  }
  fieldset {
    border: 1px solid var(--grayscale-dark) !important;
    background-color: transparent !important;
    width: 100% !important;
    // max-width: 218px;
    padding: 12px !important;
    border-radius: 5px !important;
    top: 0 !important;
  }
  .MuiOutlinedInput-input {
    padding: 14.5px 14px;
  }
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(10px, -4px) scale(0.75) !important;
    background-color: white;
    color: var(--grayscale-darkest) !important;
    padding: 0 5px !important;
  }
  input:not([value=""]) {
    color: var(--grayscale-darkest) !important;
  }
  input:not([value=""]) ~ fieldset {
    border-color: var(--grayscale-darkest) !important;
  }
  .MuiFormHelperText-root.Mui-error {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 140% !important;
    text-transform: capitalize !important;
    color: var(--grayscale-dark) !important;
    margin: 0 !important;
    padding-top: 5px !important;
  }
  .Mui-error {
    &.MuiInputLabel-outlined {
      color: var(--error-main) !important;
    }
    fieldset {
      border: 1px solid var(--error-main) !important;
    }
  }
}

.slick-slide {
  div {
    &:first-child {
      width: 95% !important;
    }
    @media (max-width: 520px) {
      &:first-child {
        width: 98% !important;
      }
    }
  }
}
