.storybook-text {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}
.storybook-text--small {
  font-size: 18px;
}
.storybook-text--medium {
  font-size: 24px;
}
.storybook-text--large {
  font-size: 36px;
}
